@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --font-montserrat: var(--font-montserrat), sans-serif;
  --breakpoint-xs: 30rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  @apply bg-slate-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
}

header,
section {
  @apply max-w-4xl m-auto px-5;
}

section {
  @apply py-4;
}

button,
a {
  cursor: pointer;
}

.btn--clear {
  width: 20px;
  height: 20px;
}

.btn--clear::before,
.btn--clear::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 100%;
  width: 2px;
  border-radius: 50%;
  background-color: var(--foreground);
}

.btn--clear::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn--clear::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
